<nav class="navbar navbar-expand-lg bg-green">
    <div class="container-fluid">
      <a class="navbar-brand text-white" href="/">Visual</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav ">
          <li class="nav-item">
            <a class="nav-link hoverLink  text-white" aria-current="page" href="#quienesSomos">¿Quienes somos?</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white hoverLink" href="#servicios">Servicios</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white hoverLink" href="#faq">Preguntas Frecuentes</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle text-white hoverLink" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Apps
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="/qrcode">Generador de QR</a></li>
              <li><a class="dropdown-item" href="/passgen">Generador de Contraseñas</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>