<div id="faq" class="preguntasFrec p-lg-5">
    <h1 class="titles p-lg-5">Preguntas Frecuentes</h1>
    <div class="conatiner-fluid">
        <div class="row">
          <div class="accordion accordion-flush" id="accordionFlushExample">
            <div class="accordion-item">
              <h2 class="accordion-header" id="flush-headingOne">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                  ¿Puedo ir viendo el desarrollo de mi página web a medida que se va diseñando?
                </button>
              </h2>
              <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                <div class="accordion-body"><p>Sí, obviamente.Siempre nos mantenemos en contacto con nuestros clientes para ir guíando el diseño segun las preferencias de los mismos.</p></div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="flush-headingTwo">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                  ¿Modifican o trabajn con sitios webs ya existentes?
                </button>
              </h2>
              <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
                <div class="accordion-body"><p>Claro que si! Podemos realizar modificaciones sobre sitios web ya existentes e incluso te informaremos sobre optimizaciones u opciones de mejora si se presenta la posibilidad de implementar nuevas funcionalidades.</p></div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="flush-headingThree">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                  ¿Cuáles son los costos?¿Qué tipos de páginas se pueden diseñar?
                </button>
              </h2>
              <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">
                  <p>Para ser exactos, cada proyecto en diseño web es diferente. Por eso mismo, la cantidad de tiempo de desarrollo asociado y su costo varía de uno a otro. De todas formas, para que te des una idea, tenemos un pequeña lista con precios aproximados:</p>
                  <ul>
                    <li>
                      <p>Página web (Simple) Estilo "One Page/Blog": $8.500 a $ 10.500</p>
                    </li>
                    <li>
                      <p>Página web corporativa (Compleja) Estilo "Multiple Page/Formularios": $18.000</p>
                    </li>
                    <li>
                      <p>Tienda online: $20.000 a $40.500</p>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>
</div>
