<div id="servicios" class="nuestrosServicios">
    <h1 class="titles p-lg-5">Nuestros Servicios</h1>
    <div class="conatiner-fluid  mx-auto">
      <div class="row mx-auto w-50">
        <div class="col">
          <div class="card" style="width: 18rem;">
            <img src="/img/diseñoWeb.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Diseño WEB</h5>
              <p class="card-text">Diseñamos una página web confiable y adaptable a diferentes dispositivos según las preferencias del cliente</p>
              <a href="#contactoForm" class="btn btn-primary">Contactanos!</a>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card" style="width: 18rem;">
            <img src="/img/diseñoGrafico.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Diseño Grafico</h5>
              <p class="card-text">Le damos imágen y personalidad a tu emprendimiento con el diseño gráfico indicado</p>
              <a href="#contactoForm" class="btn btn-primary">Contactanos!</a>
            </div>
          </div>
        </div>
      </div>
      <div class="row mx-auto w-50">
        <div class="col">
          <div class="card" style="width: 18rem;">
            <img src="/img/mantenimiento.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Mantenimiento y/o actualización de tu página web</h5>
              <p class="card-text">Realizamos actualizaciones y le hacemos mantenimiento a tu página web (Ya sea una página diseñada por Visual, o una que ya tengas). Lo importante es que esa página cumpla con tus espectativas.</p>
              <a href="#contactoForm" class="btn btn-primary">Contactanos!</a>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card" style="width: 18rem;">
            <img src="/img/administracion.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Creación, Gestión, Asesoría y Manejo de tus redes sociales</h5>
              <p class="card-text">Las Redes Sociales son una parte vital de la publicidad para tu negocio, pero sabemos que puede ser complicado adaptarse y gestionarlas todas a la vez. En Visual lo hacemos por vos!</p>
              <a href="#contactoForm" class="btn btn-primary">Contactanos!</a>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>